/* animation */
.bottom-side__btn:hover {
   background-color: #ffffff;
   transform: scale(1.2, 1.2);
   transition: all 2s;
}

.bottom-side__btn-trangle:hover {
   color: #39C2D7;
   transition: color 2s, width 2s, height 2s;
}

@keyframes movee {
   0% {
      transform: scaleX(-1);
      transform: scale(1.5, 1.5);
   }

   50% {
      transform: scale(1.5, 1.5);
      transform: scaleX(1);
   }

}

.main-content_header__img {
   animation-name: movee;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.main-content_header__img {
   transform: scaleX(-1);
   transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main__btn {
   transform-origin: top left;
   /* 0 0 */
}

.main__btn:hover {
   transform: rotate(20deg);
   transform-origin: top left;
   transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes move {

   50% {
      transform: translate(-20px, 20px);
   }

   50% {
      transform: translate(-20px, 20px);
   }
}

.circle {
   animation-name: move;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

@keyframes shinee {
   0% {
      opacity: 0.1;
   }

   100% {
      opacity: 100%;

   }

}

.shine {
   animation-name: shinee;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}