* {
   box-sizing: border-box;
   margin: 0 auto;
}

body {
   font-family: 'Nunito', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
}

.container__bg {
   display: flex;
}

.wrapper {
   background-image: url(../assets/wrapper.svg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 300px;
   position: absolute;
   width: 100%;
}