@media(max-width: 768px) {

   * {
      margin: 0 auto;
   }

   .menu {
      display: none;

      &__info-p {
         display: block;
         margin: 45px 0;
      }

      &__section-headline {
         width: 391px;
         height: 261px;
      }

      &__section-p3 {
         margin-top: 24px;
         margin-bottom: -96px;
      }

      &__btn {
         margin-bottom: 40px;
      }
   }


   .header__menu-hide {
      display: block;
      margin-top: 45px;
      margin-left: 320px;
   }

   .footer__box,
   .footer__copyright {
      display: block;
      margin-left: 0;
      text-align: center;
   }

   .footer__box_head {
      margin-left: 0;
   }

   .footer__box_text {
      margin-top: 31px;
      margin-left: 0;
   }

   .footer__copyright {
      margin-top: 18px;
   }

   .header__link {
      margin-left: 40px;
   }
}