@import "vars";
@import "animation";
@import "media";
@import "global";

.header {
   display: $df;

   &__nav_item-link {
      text-decoration: none;
      font-weight: $fw;
      font-size: $fz;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: $color_white;

      &:hover {
         border-bottom: 1px solid $color_white;
      }
   }

   &__link {
      margin-top: 45px;
      margin-left: 267px;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: $color_white;
   }

   &__menu {
      display: $df;
      column-gap: 32px;
      margin-left: 165px;
      margin-top: 40px;
   }

   &__menu-hide {
      display: none;
   }
}

.main-content_header {
   display: $df;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-top: 203px;

   &__headline {
      color: $color_white;
      margin-top: 13px;
   }

   &__img {
      width: 63px;
      height: 63px;
   }

   &__lorem {
      margin-top: 35px;
      line-height: 32px;
      font-size: 24px;
      font-weight: $fw;
      color: $color_white;
   }
}

.dots {
   position: absolute;
   margin-left: 106px;
   margin-top: 55px;
}

.main {
   margin-top: 820px;

   &__info {
      padding-top: 47px;
      background-color: #EEEEEE;
      padding-bottom: 40px;

      &-p {
         display: $df;
         margin-left: 20px;
         margin-top: 45px;
         column-gap: 180px;
      }
   }

   &__section-headline {
      width: 670px;
      height: 120px;
      text-align: center;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      color: #464547;
      margin: 0 auto;
   }

   &__section-p1 {
      width: 426px;
      height: 57px;
      text-align: center;
      height: 57px;
      font-weight: $fw;
      font-size: 24px;
      line-height: 32px;
      color: #666666;
      margin: 0 auto;
      margin-top: 40px;
   }

   &__section-p2,
   &__section-p3 {
      width: 408px;
      height: 172px;
   }

   &__btn {
      width: 115px;
      height: 36px;
      border-radius: 18px;
      background-color: #55c2d8;
      border-style: none;
      font-size: $fz;
      line-height: 26px;
      font-weight: 500;
      color: $color_white;
      padding: 5px 20px 5px 17px;
      margin: 0 auto;
      margin-top: 42px;
      display: block;
   }
}

.bottom-side {
   text-align: center;
   padding-bottom: 100px;
   background-image: url(../assets/bg1.png);
   background-repeat: no-repeat;
   background-size: cover;

   &__head {
      padding-top: 80px;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      color: $color_white;
   }

   &__btn {
      margin-top: 53px;
      width: 150px;
      height: 150px;
      background-color: #39C2D7;
      border-radius: 90px;
      border-style: none;

      &-trangle {
         width: 150px;
         height: 150px;
         color: $color_white;
         border-radius: 90px;
         font-size: 60px;
         margin-left: -6px;
         padding-top: 35px;
         padding-left: 10px;
      }

   }

   &__text {
      margin-top: 70px;
      font-weight: $fw;
      font-size: 24px;
      line-height: 32px;
      color: $color_white;
   }
}

.footer {
   background-color: #464547;

   &__box {
      margin-left: 150px;
      display: $df;
      padding-top: 40px;
      padding-bottom: 38px;

      &_icon {
         margin: 0;
         width: 20px;
         height: 20px;
      }

      &_head {
         margin-left: 10px;
         font-weight: $fw;
         line-height: 16px;
         font-size: 18px;
         color: $color_white;
         letter-spacing: 20%;
      }

      &_text {
         margin-left: 80px;
         font-weight: $fw;
         font-size: 16px;
         line-height: 19px;
         color: $color_white;
      }
   }

   &__text-p_2 {
      margin-bottom: 27px;
   }

   &__link {
      margin-top: 20px;
      text-decoration: none;
      color: $color_white;
   }

   &__copyright {
      color: $color_white;
      display: $df;
      align-self: end;
   }
}